@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-archive4:before {
	content: "\e000";
}
.flaticon-bars-graphic1:before {
	content: "\e001";
}
.flaticon-binary10:before {
	content: "\e002";
}
.flaticon-binary11:before {
	content: "\e003";
}
.flaticon-chart59:before {
	content: "\e004";
}
.flaticon-cloud383:before {
	content: "\e005";
}
.flaticon-cloud392:before {
	content: "\e006";
}
.flaticon-computers13:before {
	content: "\e007";
}
.flaticon-data2:before {
	content: "\e008";
}
.flaticon-earth1:before {
	content: "\e009";
}
.flaticon-folder275:before {
	content: "\e00a";
}
.flaticon-folder283:before {
	content: "\e00b";
}
.flaticon-funnel2:before {
	content: "\e00c";
}
.flaticon-global45:before {
	content: "\e00d";
}
.flaticon-load:before {
	content: "\e00e";
}
.flaticon-magnifying glass1:before {
	content: "\e00f";
}
.flaticon-magnifying-glass40:before {
	content: "\e010";
}
.flaticon-mail 1:before {
	content: "\e011";
}
.flaticon-servers1:before {
	content: "\e012";
}
.flaticon-storage33:before {
	content: "\e013";
}

#content-page #left-pane a{
	color: #fff;
}

#content-page #left-pane #navigation ul#left-pane-nav li:hover{
	background: #222;
}

#content-page #left-pane #navigation ul#left-pane-nav li.active{
	background:#ffbd11;
	color:#000;
}

#content-page #left-pane #navigation ul#left-pane-nav a li.active{
	color:#000;
}

#content-page #left-pane #navigation ul#left-pane-nav a li span{
	color:#ccc;
}

#content-page #left-pane #navigation ul#left-pane-nav a li.active span{
	color:#000;
}

#data-area{
	overflow: visible!important;
}

.page-wrapper .pageLinks li a:hover{
	color: #000;
}

img.section-cover{
	width: 100%;
	margin: 20px 0px;
}

*{
	word-wrap: break-word;
}

.page-wrapper a{
	color: #1982D1;
	text-decoration: none;
	font-size: 9pt;
}

#top-bar-links a{
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

#top-bar-links a:hover{
	color: #aa0033;
}
